[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=code1
Group=code1

WorkingDirectory=/home/code1/tea4/
Environment="PYTHONPATH=/home/code1/tea4/"
ExecStart=/home/code1/tea4/new1venv/bin/python /home/code1/tea4/bott.py

[Install]
WantedBy=multi-user.target
