[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=code1
Group=code1

WorkingDirectory=/home/code1/tea5/
Environment="PYTHONPATH=/home/code1/tea5/"
ExecStart=/home/code1/tea5/new5venv/bin/python /home/code1/tea5/bott.py

[Install]
WantedBy=multi-user.target
