[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=code1
Group=code1

WorkingDirectory=/home/code1/tea2/
Environment="PYTHONPATH=/home/code1/tea2/"
ExecStart=/home/code1/tea2/newestvenv/bin/python /home/code1/tea2/bott.py

[Install]
WantedBy=multi-user.target